plugins { id 'nf-cws' }

process {
  executor = 'k8s'
  container = 'ubuntu:24.04'
  shell = ['/bin/bash','-ueo','pipefail']
}

k8s {
  namespace = 'yagmur'
  serviceAccount = 'cwsaccount'
  storageClaimName = 'nextflow-pvc'
  storageMountPath = '/workspace'
  workDir = '/workspace/work'

  scheduler {
    name           = 'workflow-scheduler'
    serviceAccount = 'cwsaccount'
    container      = 'commonworkflowscheduler/kubernetesscheduler:latest'
    cpu            = '2'
    memory         = '1400Mi'
    port           = 8080
    autoClose      = false
    runAsUser      = 0
    workDir        = '/scheduler'
    imagePullPolicy= 'IfNotPresent'
  }
}

cws {
  // no dns here
  strategy = 'rank_max-fair'
  costFunction = 'MinSize'
  batchSize = 10
  minMemory = 128.MB
  maxMemory = 64.GB
}

